@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-slate-50 text-slate-800 min-h-screen font-sans;
    /* Dica: Se puder, use a fonte 'Montserrat' ou 'Roboto' no index.html do Google Fonts para combinar com a logo */
  }

  #app {
    @apply min-h-screen flex flex-col;
  }
}

/* Utilitário para esconder a scrollbar no menu mobile se necessário */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}